@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header,
#preview,
#overlay {
    position: absolute;
    width: 100%;
}

#header {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#preview,
#overlay {
    top: 3em;
    bottom: 0;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay>.notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header>* {
    height: 2em;
    margin: 0 0.5em;
    font-size: 1em;
    font-family: ArtifaktElement;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}

#issue-form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
    bottom: 75px;
    /* Position en bas de la page */
    right: 50px;
    /* Position à droite de la page */
    width: 300px;
    /* Ajustez la largeur selon vos besoins */
    height: 570px;
    /* Ajustez la hauteur selon vos besoins */
    background-color: #fff;
    border: 5px solid #ccc;
    padding: 20px;
    z-index: 9999;
    /* Assurez-vous que le formulaire s'affiche au-dessus des autres éléments */
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #297BA9;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    margin-top: 0px;
    background-color: #297BA9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 305px;
}

.submit-button:hover {
    background-color: #287cad;
}

.required-field {
    color: red;
}

.invalid-input {

    background-color: rgb(243, 217, 217);
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    /* Changer la couleur de fond selon vos besoins */
    z-index: 999;
    /* Assurez-vous que l'en-tête reste au-dessus du contenu de la table */
}
.journal-scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    cursor: pointer;
}

.journal-scroll::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
}

.journal-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #a0aec0;
}

.panel-container {
    width : 30%;
    height : 100%;
    border-left : 1px solid #ccc;
    position: absolute; /* ou relative selon besoin */
    top: 0;
    right: 0;
    overflow: hidden;
    margin-top: 0; /* Annuler l'espace en haut */
    margin-bottom: 0; /* Annuler l'espace en bas */
    
   
  }

  .title-div {
    border: none;
    color: #0a131c;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    overflow: hidden;
    padding: 11px 0 11px 8px;
    
    resize: none;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 1;
    border-bottom: 1px solid #ccc; /* Bordure en bas de 1 pixel solide gris clair */
}
.title-update {
    border: none;
    color: #0a131c;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    overflow: hidden;
    padding: 11px 0 11px 0px;
    
    resize: none;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 1;
   
}
.close-button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMSI+PGcgZmlsbD0iIzRBNTU1QiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLjQ1NSAxMC45OTdhLjUuNSAwIDAgMS0uMzEtLjg1bDEwLTEwYS41MDIuNTAyIDAgMCAxIC43MS43MWwtMTAgMTBhLjUuNSAwIDAgMS0uNC4xNFoiLz48cGF0aCBkPSJNMTAuNDU3IDExLjAwN2EuNS41IDAgMCAxLS4zMS0uMTVsLTEwLTEwYS41MDIuNTAyIDAgMCAxIC43MS0uNzFsMTAgMTBhLjUuNSAwIDAgMS0uNC44NloiLz48L2c+PC9zdmc+);
    background-position:0 19px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    z-index: 1;
  }
  

  .bas-border{
    border-bottom: 1px solid #ccc; /* Bordure en bas de 1 pixel solide gris clair */
  }

  .custom-table-pagination {
    overflow: hidden !important;
  }
  